/*murphyp.css*/

body {
    background-color: #f2f2f2;
}

.center {
    margin: auto;
    width: 1000px;
}
/* top photo */
.top-photo img {
	align: left;
}

/*top-menu -----------------------------------------*/
/* http://cses.ucsd.edu/byow/tutorial3/tutorial3.html */
.top-menu ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Arial";
    font-size: 20px;
}

.top-menu li {
    float: left;
}

.top-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-menu li a:hover {
    text-decoration: underline;
}

/*body -----------------------------------------*/
.main-text{
    margin-top: 20px;
}

h1 {
    color: Black;
    text-align: center;
    font-family: "Arial";
    margin-top: 35px;
}

h2 {
    color: Black;
    text-align: center;
    text-decoration: italic;
    font-family: "Arial";
    margin-top: 10px;
}

p {
    color: black;
    font-family: "Arial";
    font-size: 16px;
}

#about-box {
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 420px; 
    background-color: #cccccc;
}
.my-photo {
	float: right;
    margin: 10px;
    margin-bottom: 25px;
}

#contact {
    text-decoration: none;
    font-family: "Arial";
    font-size: 14px;
    margin: 20px;
}

.name {
    font-size: 16px;
    color: #1f0d45;
}

.main-text li {
    font-size: 16px;
    font-family: "Arial";
    margin-left: 25px;
}

.project-box{
    margin-top: 10px;
    width: 980px;
    background-color: #cccccc;
    padding: 10px;
}

.project-box p{
    margin-top: 0px;
}

.project-box-photo{
    float: left;
    margin-right: 10px;
}

.collaborator {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #cccccc;
}

.collaborator h4 {
    font-family: "Arial";
    font-size: 20px;
    color: Black;
}

/*footer -----------------------------------------*/
.footer {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Arial";
    font-size: 12px;
}

.footer li {
    float: left;
}

.footer li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}